<div id="control-stack" class="flex flex-col gap-8 p-10">
  <div class="flex flex-row gap-8 items-center justify-between">
    <p-slider [(ngModel)]="bpm"
              (onSlideEnd)="setBPM($event.value ?? bpm)"
              orientation="vertical"
              styleClass="h-80"
              min="60"
              max="210"
              animate="true"

    />
    <div class="text-9xl">{{ bpm }}</div>
  </div>

  <p-toggleButton [(ngModel)]="isPlaying"
                  onLabel="Play"
                  offLabel="Pause"
                  onIcon="pi pi-play"
                  offIcon="pi pi-pause"
                  (onChange)="toggle()"
                  size="large"
                  styleClass="min-w-24"/>

</div>
